.countdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.inputs {
  display: flex;
  align-items: center;
  gap: 5px;
}

.inputs input {
  padding: 8px;
  width: 3rem;
  text-align: center;
}

.buttons {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.buttons button {
  padding: 8px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  width: 4rem;
}

.buttons button:hover {
  background-color: #ccc;
}
